
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/LYX/access_token">获取access_token值</a><br />
        <a href="/LYX/CreatMenu">创建菜单</a>
    </div>
</body>
</html>
